{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $name := "Your name" -}}
{{- $email := "your@email.com" -}}
{{- if and (not $codespaces) stdinIsATTY -}}{{/* Interactive setup, so prompt for an email address */}}
  {{- $name = promptString "name" -}}
  {{- $email = promptString "email" -}}
{{- end -}}
---
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  codespaces: {{ $codespaces }}
  name: " {{- $name -}} "
  email: " {{- $email -}} "
