{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $name := "Your name" -}}
{{- $email := "your@email.com" -}}
{{- $color := "solarized" -}}
{{- if and (not $codespaces) stdinIsATTY -}}{{/* Interactive setup, so prompt for an email address */}}
  {{- $name = promptString "name" -}}
  {{- $email = promptString "email" -}}
  {{- $color = promptString "color (solarized/gruvbox/dracula)" -}}
{{- end -}}
---
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  codespaces: {{ $codespaces }}
  name: " {{- $name -}} "
  email: " {{- $email -}} "
  param:
    color: " {{- $color -}} "

# diff:
#   format: git
# edit:
#   command: vim
# encryption: gpg
# gpg:
#   recipient: "YOUR-GPG-KEY"
#   args:
#     # - --homedir=/media/user/path/to/.gnupg
#     - --quiet
