{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $name  := get . "name" -}}
{{- $email := get . "email" -}}
{{- $color := dig "param" "color" "" . -}}
{{- $supportedColors := list "solarized" "gruvbox" "dracula" -}}
{{- if and (not $codespaces) stdinIsATTY -}}{{/* Interactive setup, so prompt for an email address */}}
  {{- if not $name -}}
  {{-   $name = promptString "name" -}}
  {{- end -}}
  {{- if not $email -}}
  {{-   $email = promptString "email" -}}
  {{- end -}}
  {{- if not $color -}}
  {{-   $color =  printf "color (%s)" (join "/" $supportedColors) | promptString -}}
  {{- end -}}
{{- end -}}
---
sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  codespaces: {{ $codespaces }}
  name: " {{- default "Your Name" $name -}} "
  email: " {{- default "your@email.com" $email -}} "
  param:
    color: "
      {{- if has $color $supportedColors -}}
        {{- $color -}}
      {{- else -}}
        solarized
      {{- end -}}
    "
    # Choose any of {{ join ", " $supportedColors }}

# diff:
#   format: git
# edit:
#   command: vim
# encryption: gpg
# gpg:
#   recipient: "YOUR-GPG-KEY"
#   args:
#     # - --homedir=/media/user/path/to/.gnupg
#     - --quiet
