# folders
**/plugged/
.github/
docs/

# files
**/.wakatime-project
.dockerignore
.editorconfig
.gitattributes
.gitlab-ci.yml
.mailmap
CHANGELOG.md
Dockerfile
LICENSE
README-pt.md
README.md
compose.yaml
