Nanda Lopes <nandalopes@gmail.com>
Nanda Lopes <nandalopes@gmail.com> <nadjaf@ufba.br>
<nandalopes@gmail.com> <nandalopes@users.noreply.github.com>
Yan Pritzker <yan@pritzker.ws>
Yan Pritzker <yan@pritzker.ws> <yan@reverbs-MacBook-Pro-3.local>
<yan@pritzker.ws> <yan@ymbp.local>
<yan@pritzker.ws> <yan@planyp.us>
<yan@pritzker.ws> <ypritzker@Yans-MacBook-Pro.local>
<yan@pritzker.ws> <pair+yp@reverb.com>
<yan@pritzker.ws> <yan@Yans-MacBook-Pro.local>
<yan@pritzker.ws> <pair+yan@crowdcast.com>
<yan@pritzker.ws> <yan@y.local>
<yan@pritzker.ws> <yan@yans-mbp.att.net>
<yan@pritzker.ws> <yan@ymbp.(none)>
<yan@pritzker.ws> <ypritzker@MacBook-Pro-2.local>
Luiz Gonzaga dos Santos Filho <lfilho@gmail.com>
Dax T Games <dtgames@kinggeek.org> <daxtgames@maximux.com>
Alan Yee <alyee@ucsd.edu> <alanyee@users.noreply.github.com>
Fabio Gallonetto <fabio@futureworkshops.com> <dune@Fabios-MacBook-Pro.local>
Jean Mertz <jean@mertz.fm> <Jean@Jean-MacBook.(none)>
Josué Lobo <darksiders20005@gmail.com> <80691766+RoyMusthang@users.noreply.github.com>
Katherine G. Pe <katherinepe@me.com> <katz@bridgeutopiaweb.com>
Marc Rendl Ignacio <marcrendlignacio@gmail.com> <padi@users.noreply.github.com>
Nikolai Berkoff <alex.frost.dev@gmail.com> <nikolai-b@users.noreply.github.com>
Steven Barragán <me@steven.mx> <stevenbarragan@Stevens-MBP-2.local>
