{{- /*
  vim:ft=bash.gotmpl:
    */ -}}

  {{- if eq .chezmoi.os "linux" "darwin" -}}

#!/usr/bin/env bash

ASDF_DIR="${ASDF_DIR:-$HOME/.asdf}"
PATH="$ASDF_DIR/bin:$PATH"

if [ ! -d "$ASDF_DIR" ]; then
  git clone -- \
      'https://github.com/asdf-vm/asdf.git' "$ASDF_DIR"
fi

# just load the asdf wrapper function
if [[ -f "$ASDF_DIR/lib/asdf.sh" ]]; then
  . "$ASDF_DIR/lib/asdf.sh"
fi

asdf update

# add direnv plugins
asdf plugin add direnv

# setup asdf direnv, latest version
asdf direnv setup --version latest --shell zsh

# Tip: install direnv in $PATH
echo "Tip: you can install direnv somewhere in PATH, then execute:"
echo "     asdf direnv setup --version system --shell zsh"

exit 0

  {{- end }}
