{{- /*
  vim:ft=bash.gotmpl:
    */ -}}

  {{- if eq .chezmoi.os "linux" "android" "darwin" -}}

#!/usr/bin/env bash

ASDF_DIR="${ASDF_DIR:-$HOME/.asdf}"
PATH="$ASDF_DIR/bin:$PATH"

if [ ! -d "$ASDF_DIR" ]; then
  git clone -- \
      'https://github.com/asdf-vm/asdf.git' "$ASDF_DIR"
fi

# just load the asdf wrapper function
if [[ -f "$ASDF_DIR/lib/asdf.sh" ]]; then
  . "$ASDF_DIR/lib/asdf.sh"
fi

asdf update

# add direnv plugins
asdf plugin add direnv

exit 0

  {{- end }}
