{{- /*
# vim:ft=sh.gotmpl:
    */ -}}

  {{- if eq .chezmoi.os "linux" "android" "darwin" -}}

  {{-   $fzf := joinPath .chezmoi.homeDir ".fzf" -}}

  {{-   if eq .chezmoi.os "android" -}}
#!/bin/sh
  {{-   else -}}
#!/usr/bin/env bash
  {{-   end }}

if [ ! -d " {{- $fzf -}} " ]; then
  git clone --shallow-exclude='v0.60.0' -- \
      'https://github.com/junegunn/fzf.git' " {{- $fzf -}} "
fi

" {{- $fzf -}} /install" --xdg --all --no-update-rc \
  --no-fish --no-bash

  {{- end }}

