{{- /*
  vim:ft=bash.gotmpl:
*/ -}}

  {{- if eq .chezmoi.os "linux" "darwin" -}}
#!/usr/bin/env bash

if [ ! -d "$HOME/.asdf" ]; then
  git clone -- \
      'https://github.com/asdf-vm/asdf.git' "$HOME/.asdf"
fi

ASDF_DIR="$HOME/.asdf"
PATH="$ASDF_DIR/bin:$PATH"
  . $ASDF_DIR/lib/asdf.sh # just load the asdf wrapper function

asdf update

# add direnv plugins
asdf plugin add direnv

# setup asdf direnv, latest version
asdf direnv setup --version latest --shell zsh

# Tip: install direnv in $PATH
echo "Tip: you can install direnv somewhere in PATH, then execute:"
echo "     asdf direnv setup --version system --shell zsh"
  {{- end }}
