{{- if (eq .chezmoi.os "darwin" "linux") -}}
{{- if lookPath "semgrep" -}}
#!/usr/bin/env bash
set -euo pipefail

echo "Running semgrep ci to upload findings to AppSec Platform..."
semgrep ci --quiet || true

{{- end }}
{{- end }}
