{{- if eq .chezmoi.os "linux" "darwin" -}}
#!/usr/bin/env bash

set -e # -e: exit on error

  {{- if lookPath "zsh" }}

chsh --shell /bin/zsh

  {{- else }}

echo 'Install zsh, then run:'
echo '  $ chezmoi apply --source-path {{ joinPath .chezmoi.sourceDir .chezmoi.sourceFile }}'

  {{- end }}

{{- end }}
