{{- /*
# vim:ft=sh.gotmpl:
    */ -}}

{{- if (eq .chezmoi.os "linux" "android" "darwin") -}}

  {{-   if eq .chezmoi.os "android" -}}
#!/bin/sh
  {{-   else -}}
#!/usr/bin/env bash
  {{-   end }}

# -e: exit on error
set -e

  {{-   if ne .chezmoi.os "android" }}
# {{ .chezmoi.osRelease.name }} - {{ .chezmoi.osRelease.versionCodename }}
  {{-   end }}

  {{- if lookPath "zsh" }}

{{    if eq .chezmoi.os "android" -}}
chsh -s zsh
{{-   else -}}
chsh --shell /bin/zsh
{{-   end }}

  {{- else }}

echo 'Install zsh, then run:'
echo '  $ chezmoi apply --source-path {{ joinPath .chezmoi.sourceDir .chezmoi.sourceFile }}'

  {{- end }}

{{- end }}
