{{- /*
  vim:ft=bash.gotmpl:
    */ -}}

  {{- if eq .chezmoi.os "linux" "android" "darwin" -}}

  {{-   $fzf := joinPath .chezmoi.homeDir ".fzf" -}}
#!/usr/bin/env bash

if [ ! -d " {{- $fzf -}} " ]; then
  git clone --depth 1 -- \
      'https://github.com/junegunn/fzf.git' " {{- $fzf -}} "
fi

" {{- $fzf -}} /install" --xdg --all --no-update-rc \
  --no-fish --no-bash

  {{- end }}

