{{- /*
  vim:ft=sh.gotmpl:
    */ -}}

  {{- if eq .chezmoi.os "linux" "android" "darwin" -}}

#!/bin/sh

asdf plugin add alias 'https://github.com/nandalopes/asdf-alias.git'
asdf plugin add direnv 'https://github.com/nandalopes/asdf-direnv.git'
asdf plugin add nodejs 'https://github.com/nandalopes/asdf-nodejs.git'
asdf plugin add ruby

  {{- end }}
