{{- /*
# vim:ft=sh.gotmpl:
    */ -}}

{{- if (eq .chezmoi.os "linux" "android" "darwin") -}}

  {{-   if eq .chezmoi.os "android" -}}
#!/bin/sh
  {{-   else -}}
#!/usr/bin/env bash
  {{-   end }}

# -e: exit on error
set -e

{{- if lookPath "subl" }}
subl --command "install_package_control" || true
osascript -e 'quit app "Sublime Text"' || true
{{- end }}

{{- if lookPath "vim" }}
vim  -i NONE -c 'PlugClean!' -c 'PlugInstall!' -c 'qa' || true
{{- end }}

# {{- if lookPath "nvim" }}
# nvim --headless "+Lazy! sync" +qa
# {{- end }}

{{- end }}
