# chezmoi:template:left-delimiter=[[ right-delimiter=]]
# vim:fileencoding=utf-8:foldmethod=marker

#: Fonts {{{

font_family        MesloLGS Nerd Font
# bold_font        auto
# italic_font      auto
# bold_italic_font auto

font_size 11.0

disable_ligatures cursor

#: }}}

#: Cursor customization {{{

# cursor_shape block

# cursor_underline_thickness 4.0

# cursor_blink_interval -1

# cursor_stop_blinking_after 3.0

#: }}}

#: Scrollback {{{

# scrollback_lines 2000

# scrollback_pager_history_size 5

#: }}}

#: Terminal bell {{{

# enable_audio_bell yes

# window_alert_on_bell yes

# bell_on_tab yes

#: }}}

#: Window layout {{{

# remember_window_size  no
# initial_window_width  96c
# initial_window_height 24c

# enabled_layouts grid,tall,fat,stack,splits,horizontal,vertical

# confirm_os_window_close -1

#: }}}

#: Tab bar {{{

tab_bar_style powerline

# tab_powerline_style angled

# tab_title_template "{index}. {title}"

#: }}}

#: Color scheme {{{

# background_opacity 1.0

dynamic_background_opacity yes

# dim_opacity 0.75

# background_image none

# background_image_layout cscaled

# background_tint 0.8

#: }}}

#: Advanced {{{

# shell .

# editor vim

# close_on_child_death no

allow_remote_control yes

# shell_integration no-cursor

# term xterm-kitty

#: }}}

#: Keyboard shortcuts {{{

map kitty_mod+enter new_window_with_cwd

map kitty_mod+t     new_tab_with_cwd

#: }}}


# BEGIN_KITTY_THEME
# [[ index .color .param.color "kitty" "name" ]]
include current-theme.conf
# END_KITTY_THEME

[[- /*
# vim:ft=kitty.gotmpl:fileencoding=utf-8:foldmethod=marker:
*/]]
