{{-
  $kittyTheme := index .color .param.color "kitty" "file" |
                 printf "%s/.config/kitty/themes/%s.conf" .chezmoi.homeDir
-}}
{{- if stat $kittyTheme -}}
{{-   include $kittyTheme -}}
{{- end -}}
