# Setup fzf
# ---------
if [[ ! "$PATH" == * {{- joinPath .chezmoi.homeDir ".fzf/bin" -}} * ]]; then
  export PATH="${PATH:+${PATH}:} {{- joinPath .chezmoi.homeDir ".fzf/bin" -}} "
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "
  {{- joinPath .chezmoi.homeDir ".fzf/shell/completion.zsh" -}}
  " 2> /dev/null

# Key bindings
# ------------
source " {{- joinPath .chezmoi.homeDir ".fzf/shell/key-bindings.zsh" -}} "
