tags
*~
*un~
.netrwhist
*.swp
.VimballRecord
backups/
view/
tmp
spell/
after/.vimrc.after
.vundles.local
.vundles.local.bak
autoload/plug.vim
plugged/
sessions/
settings/before/*.vim
settings/after/*.vim
!settings/before/main.vim
!settings/after/main.vim
