tags
*~
*un~
.netrwhist
*.swp
.VimballRecord
backups/
view/
tmp
spell/
after/.vimrc.after
.vundles.local
.vundles.local.bak
autoload/plug.vim
plugged/
sessions/
# before settings
settings/before/*.vim
!settings/before/main.vim
# after settings
settings/after/*.vim
!settings/after/main.vim
!settings/after/colorscheme.vim
!settings/after/highlight.vim
