{{- $nproc := 1 }}
{{- if eq .chezmoi.os "darwin" }}
  {{-   $nproc = (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi }}
{{- else if eq .chezmoi.os "linux" }}
  {{-   $nproc = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi }}
{{- else if eq .chezmoi.os "windows" }}
  {{-   $nproc = (output "pwsh.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi }}
{{- end }}

{{- $simpleSourceDir := trimPrefix .chezmoi.homeDir .chezmoi.workingTree |
                        trimPrefix "/" -}}

[ {{- $simpleSourceDir -}} ]
order = 3
checkout =
  git clone -j{{- $nproc }} -- \
      'https://github.com/pdehlke/dotfiles.git' '{{- $simpleSourceDir -}}'
update =
  gplr
  if command -v "git-lfs" >/dev/null; then
    git lfs pull
  fi
Clean =
  git rerere gc
  git gc
checkout_append =
  cd "$MR_REPO"
  # remotes
  git_add_remotes "
    upstream https://github.com/skwp/dotfiles.git
    lfilho   https://github.com/lfilho/dotfiles.git
  "
  # config
  cfg_lfs_local
  cfg_rcv_warn


[.zprezto]
order = 7
skip = lazy
checkout =
  git clone -j{{- $nproc }} --depth=1 --recursive --shallow-submodules -- \
      'https://github.com/sorin-ionescu/prezto.git' '.zprezto'
update = gplmod --ff-only


{{ $gitstatus := joinPath .chezmoi.homeDir ".zprezto"
    "modules/prompt/external/powerlevel10k/gitstatus" -}}
{{-
  if stat $gitstatus
  -}}
[ {{- trimPrefix .chezmoi.homeDir $gitstatus | trimPrefix "/" -}} ]
order = 9
checkout = :
update = :
fetch = :
status = :
  {{- else -}}
[${XDG_CONFIG_HOME:-.config}/gitstatus]
checkout = git clone 'https://github.com/romkatv/gitstatus.git' 'gitstatus'
status_append = git_last_tag
  {{- end }}
skip = lazy
make =
  if command -v "docker" >/dev/null; then
    "$MR_REPO/build" -w -s -d docker
  else
    sudo "$MR_REPO/build" -w -s
  fi
  find "$MR_REPO"/usrbin "$MR_REPO"/deps -type f -exec \
    sudo chown $USER:$USER --changes '{}' \+

# vim:fileencoding=utf-8:ft=conf
