{{- $simpleSourceDir := trimPrefix .chezmoi.homeDir .chezmoi.workingTree |
      trimPrefix "/" -}}

[ {{- $simpleSourceDir -}} ]
order = 3
checkout =
  git clone -- \
      'git@github.com:nandalopes/dotfiles.git' '{{- $simpleSourceDir -}}'
update = gplr
Clean =
  git rerere gc
  git gc
post_checkout =
  cd "$MR_REPO"
  # config
  cfg_rcv_warn
  cfg_shared
  git_add_remotes "
    upstream https://github.com/skwp/dotfiles.git
    lfilho   https://github.com/lfilho/dotfiles.git
  "
  {{- block "lfs-pull" "" }}
    {{- if lookPath "git-lfs" }}
post_update = git lfs pull
    {{- end }}
  {{- end }}


[${XDG_CONFIG_HOME:-.config}/gitstatus]
order = 9
checkout =
  if ! [ -d "$HOME/.zprezto" ] ; then
    git clone --depth=1 'https://github.com/romkatv/gitstatus.git' 'gitstatus'
  else
    ln -nfs \
      ~/.zprezto/modules/prompt/external/powerlevel10k/gitstatus \
      'gitstatus'
  fi
update =
  if ! [ -s "$MR_REPO" ]; then
    git pull
  fi
fetch =
  if ! [ -s "$MR_REPO" ]; then
    git fetch
  fi
make =
  ./build -w -s -d docker
  sudo chown $USER:$USER -R usrbin deps
post_status = git_last_tag


[.zprezto]
order = 7
checkout =
  git clone --recursive -- \
      'https://github.com/sorin-ionescu/prezto.git' '.zprezto'
update = gplmod --ff-only
pre_update = git checkout master

# vim:fileencoding=utf-8:ft=conf
