# vim:fileencoding=utf-8:ft=conf

[.fzf]
skip = third_party_skipper $MR_ACTION
checkout = git clone 'https://github.com/junegunn/fzf.git' '.fzf'
update =
  gplrt
  git_last_tag
clean =
  if [ "${*#*-f}" != "${*}" ]; then
    git clean --force "$@" -dx -e 'bin/fzf'
  else
    git clean --dry-run "$@" -dx -e 'bin/fzf'
  fi
install =
  "${MR_REPO}/install" --xdg --all --no-update-rc \
    --no-fish --no-bash
status_append = git_last_tag
