{{- if lookPath "direnv" -}}
{{-   $direnvVersion := output "direnv" "--version" | trim -}}
# Direnv version <{{ $direnvVersion }}>
[global]
# bash_path = "/usr/bin/bash"
{{-   if semverCompare ">=2.31.0" $direnvVersion }}
# load_dotenv = false
{{-   else }}
# skip_dotenv = true
{{-   end }}

[whitelist]
# exact = [
#   "{{ .chezmoi.sourceDir }}"
# ]
# prefix = [
#   "{{ .chezmoi.sourceDir }}"
# ]
{{- end -}}

