{{- /*
 vim: ft=toml.gotmpl
*/ -}}
{{- $direnvVersion := "2.21.2" -}}
{{- if lookPath "direnv" -}}
{{-   $direnvVersion = output "direnv" "--version" | trim -}}
{{- end -}}
## Direnv example config
## Direnv version <{{ $direnvVersion }}>
# [global]
# bash_path = "/usr/bin/bash"
  {{- if semverCompare ">=2.31.0" $direnvVersion }}
# load_dotenv = false
  {{- else }}
# skip_dotenv = true
  {{- end }}

# [whitelist]
# exact = [
#   "{{ .chezmoi.workingTree }}"
# ]
# prefix = [
#   "{{ .chezmoi.workingTree }}"
# ]
