{{- /*
 vim: ft=toml.gotmpl
*/ -}}
## Direnv example config
# [global]
# bash_path = "/usr/bin/bash"
## if direnv >= 2.31.0
# load_dotenv = false
## if direnv < 2.31.0
# skip_dotenv = true

# [whitelist]
# exact = [
#   "{{ .chezmoi.workingTree }}"
# ]
# prefix = [
#   "{{ .chezmoi.workingTree }}"
# ]

