{{- /* DATA NOT AVAILABLE ON INIT */ -}}
{{- $data := joinPath .chezmoi.sourceDir ".chezmoidata.yaml" | include | fromYaml }}
{{- $supportedColors := keys $data.color | sortAlpha -}}
{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := and stdinIsATTY (env "CODESPACES" | not) (env "ACT" | not)
                    (expandenv "$DEBIAN_FRONTEND" | ne "Noninteractive") -}}
{{- /* END DATA NOT AVAILABLE */ -}}


{{- /* Initializes variables with a default value */ -}}
{{- $name  := "Your Name" -}}
{{- $email := "your@email.com" -}}
{{- $color := "solarized" -}}

{{- /* Otherwise, if running interactively, prompts for values */ -}}
{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{-   $name  = promptStringOnce . "name" "Name used in gitconfig" $name -}}
{{-   $email = promptStringOnce . "email" "Email used in gitconfig" $email -}}
{{-   $stringColor := join "/" $supportedColors | printf "color (%s)" -}}
{{-   $color = promptStringOnce . "param.color" $stringColor $color -}}
{{-   if not (has $color $supportedColors) -}}
{{-     $color = "solarized" -}}
{{-   end -}}
{{- end -}}

---
sourceDir: {{ quote .chezmoi.workingTree }}

data:
  name: {{ quote $name }}
  email: {{ quote $email }}
  interactive: {{ $interactive }}
  param:
    color: {{ quote $color }}
{{
  join ", " $supportedColors
  | printf "# Choose any of %s"
  | wrapWith 50 "\n# " | indent 4
}}


# diff:
#   exclude:
#     - scripts
#   format: git
# edit:
#   command: vim
#   # valid vim/neovim args
#   args:
#     - -p
# merge:
#   command: vim
#   args:
#     - -d
#     - -o
#     - " {{- `{{` }} .Destination {{ `}}` -}} "
#     - " {{- `{{` }} .Source {{ `}}` -}} "
#     - " {{- `{{` }} .Target {{ `}}` -}} "


# encryption: gpg
# gpg:
#   recipient: 'YOUR-GPG-KEY'
#   args:
#     - --quiet
#     - --homedir=/media/{{ .chezmoi.username }}/path/to/.gnupg


# format: yaml
# mode: file
# verbose: true
