{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := env "ACT" | not | and stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name  := "Your Name" -}}
{{- $email := "your@email.com" -}}
{{- $color := dig "param" "color" "" . -}}
{{- $supportedColors := list "solarized" "gruvbox" "dracula" -}}

{{- /* If vars were previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- end -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- end -}}

{{- /* Otherwise, if running interactively, prompts for values */ -}}
{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{-   $name  = promptString "name" $name -}}
{{-   $email = promptString "email" $email -}}
{{-   $stringColor := join "/" $supportedColors | printf "color (%s)" -}}
{{-   $color = promptString $stringColor $color -}}
{{- end -}}

---
sourceDir: '{{ .chezmoi.sourceDir }}'

data:
  interactive: {{ $interactive }}
  name: {{ quote $name }}
  email: {{ quote $email }}
  param:
    color: {{ if has $color $supportedColors -}}
        {{- quote $color -}}
      {{- else -}}
        'solarized'
      {{- end }}
    # Choose any of {{ join ", " $supportedColors }}

# diff:
#   exclude:
#     - scripts
#   format: git
# edit:
#   command: vim
#   args:
#     - -p # open files in new tabs

# encryption: gpg
# gpg:
#   recipient: 'YOUR-GPG-KEY'
#   args:
#     - --quiet
#     - --homedir=/media/{{ .chezmoi.username }}/path/to/.gnupg

# format: yaml
# verbose: true
# mode: file
