# Yadr
bin/chezmoi
custom/zsh

# (Neo)Vim plugins
/vim/plugged
/vim/autoload/plug.vim

# (Neo)Vim plugins/bundles
# /vim/plugins.d/**/*.vim
/vim/local_bundles.vim

# (Neo)Vim settings
/vim/settings/**/*.vim
/vim/settings/{before,after}/*.vim
/vim/settings/plugin-vimwiki.vim

# (Neo)Vim dicts
/vim/spell

# Other (Neo)Vim files
*~
*un~
*.swp
.netrwhist
.VimballRecord
.vundles.local
.vundles.local.bak
/vim/tmp
/vim/after/.vimrc.after

# Other (Neo)Vim directories
/vim/{backups,view,sessions}/

# General files
bin/subl
tags
**/.uuid

