# To configure mr to trust other mrconfig files, list them in
# ~/.mrtrust.  One mrconfig file should be listed per line.
# Either the full pathname should be listed, or the pathname can
# start with ~/ to specify a file relative to your home
# directory.
