[user]
  name = {{ .name }}
  email = {{ .email }}
{{- if .signingkey }}
  signingkey = {{ .signingkey }}
{{- end }}

{{- if not .param.interactive }}
[safe]
  directory = {{ .chezmoi.workingTree }}
{{- end }}
