# Don't change. The following determines where YADR is installed.
export yadr={{ .chezmoi.sourceDir }}

source {{ joinPath .chezmoi.sourceDir "zsh/prezto-override/theme.zsh" }}

source {{ joinPath .chezmoi.homeDir ".zprezto/runcoms/zshrc" }}

for config_file ( {{- joinPath .chezmoi.sourceDir "zsh/*.zsh" -}} ) source $config_file
