{{- /*
  vim:ft=yaml.gotmpl:
    */ -}}

{{-
  $dictProjects := dict
    "fonts"  "ryanoasis/nerd-fonts"
  -}}
{{-
  $dictVersions := dict
    "fonts"  .external.fonts.version
  -}}

---
{{ range $title, $project := $dictProjects -}}
{{ $default := get (get $.external $title) "url" -}}
{{ $title -}} :
    url: {{
        replace "releases/tag" "releases/download"
        (gitHubLatestRelease $project).GetHTMLURL | default $default | quote
    }}
    version: {{
        default (get $dictVersions $title)
        (gitHubLatestRelease $project).GetTagName | quote
    }}
{{ end -}}
